#page-header {
  background-image: url('../quail.jpg');
  background-size: 100px;
  background-repeat: no-repeat;
  position: static;
  padding-left: 108px;
}

.center-pills {
  display: inline-block;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
  color: #222;
  background-color: rgba(206,220,206,.9);
}

.nav-pills > li.active > a:hover {
  color: #222;
  background-color: rgba(206,220,206,.5);
}

.nav-pills > li > a,
.nav-pills > li > a:focus {
  color: #222;
  background-color: rgba(220,220,220,.4);
}

.nav-pills > li > a:hover {
  color: #222;
  background-color: rgba(206,220,206,.5);
}

h1 {
  font-size: 54px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-style: italic;
  padding-top: 10px;
}

.lead {
  font-size: 17px;
  color: #777;
  margin-top: -10px;
}

body {
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
}

.row {
  margin: 0;
}

#messages {
  margin-top: 30px;
  margin-bottom: 30px;
}

.message {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.4);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .sender {
  margin-left: 20px;
}

.item .subject {
  font-weight: bold;
}

.item .msg-date {
  margin-right: 20px;
  text-align: right;  
}

.msg-body {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}