/* TO DO:
- ADD BG IMAGE
- Add Quail Mail mascot.
- Change message font-family?
*/

p {
  margin: 0;
}

.row {
  margin: 0;
}

.messages {
  margin-top: 30px;
  margin-bottom: 30px;
}

.message {
  color: #222;
  background: rgba(255,255,255,.9);
  border-spacing: 2px;
  border-color: gray;
  border-bottom: 1px #e5e5e5 solid;
}

.current .item {
  background: rgba(206,220,206,.9);
}

.item {
  cursor: pointer;
  padding-top: 7px;
  padding-bottom: 7px;
  
}

.item .sender {
  margin-left: 20px;
}

.item .subject {
  font-weight: bold;
}

.item .msg-date {
  margin-right: 20px;
  text-align: right;  
}

.msg-body {
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
}